---
- name: Install Runtime Base 
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
    - name: Install collections and roles together
      community.general.ansible_galaxy_install:
        type: both
        requirements_file: ../requirements.yml
        force: true
    
    - name: Install CUDA Toolkit
      include_role:
        name: bounverif.ros.cuda_toolkit_install
